/*universal styles*/

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* navigation */
nav {
  font-family: Open Sans;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
}
